---
title: PHILLIP JOHN SMITH ESCAPES
---
<div class="map-wrapper">
  <div id="map"></div>
</div>
<article id='presentation'>
  <section data-map-lat='-37.373657' data-map-lng='175.080957'>
    <h1>
      <span class="twa twa-3x twa-unlock"></span>
      <span class="twa twa-3x twa-free"></span>
    </h1>
    <hr>
    <h3>Thursday 6 November</h3>
    <p><em>Phillip John Smith is released from Spring Hill Prison on temporary
      release.</em></p>
  </section>

  <section data-map-lat='-37.008056' data-map-lng='174.791667' >
    <h1>
      <span class="twa twa-3x twa-ticket"></span>
      <span class="twa twa-3x twa-customs"></span>
    </h1>
    <hr>
    <h3>Thursday 6 November</h3>
    <p>
      Smith leaves New Zealand on a plane to Santiago, Chile. He travels on a
      passport in his birth name, Phillip John Traynor.
    </p>
  </section>

  <section data-map-lat='-33.392778' data-map-lng='-70.785556' >
    <h1>AKL <span class="twa twa-2x twa-airplane"></span> SCL</h1>
    <hr>
    <h3>Friday 7 November</h3>
    <p>Smith arrives in Chile&hellip;</p>
  </section>

  <section data-map-lat='-23.435556' data-map-lng='-46.473056' >
    <h1>SCL <span class="twa twa-2x twa-airplane"></span> GRU</h1>
    <hr>
    <h3>Friday 7 November</h3>
    <p>but then boarded a flight to Sao Paulo in Brazil&hellip;</p>
  </section>

  <section data-map-lat='-22.81' data-map-lng='-43.250556' >
    <h1>GRU <span class="twa twa-2x twa-airplane"></span> GIG</h1>
    <hr>
    <h3>Friday 7 November</h3>
    <p>then on to Rio De Janeiro.</p>
  </section>

  <section data-map-lat='-36.840417' data-map-lng='174.739869' >
    <h1>
      <span class="twa twa-3x twa-rotating-light"></span>
      <span class="twa twa-3x twa-interrobang"></span>
    </h1>
    <hr>
    <h3>Sunday 9 November 5:40pm</h3>
    <p>NZ Police in Auckland issue a media release, saying they’re looking for
      Smith.</p>
  </section>

  <section data-map-lat='-36.840417' data-map-lng='174.739869' >
    <h1>
      <span class="twa twa-3x twa-mag"></span>
      <span class="twa twa-3x twa-earth-americas"></span>
    </h1>
    <hr>
    <h3>Monday 10 November 1:25pm</h3>
    <p>Police and the Department of Corrections confirm Smith had left the
      country for Chile.</p>
  </section>

  <section data-map-lat='-33.45' data-map-lng='-70.666667' >
    <h1>
      <span class="twa twa-3x twa-mag"></span>
      <span class="twa twa-3x twa-earth-americas"></span>
    </h1>
    <hr>
    <h3>Tuesday 11 November 8:10am</h3>
    <p>Chilean authorities say Smith may now be in Brazil, and within an hour NZ
      Police confirm that the fugitive flew to Rio de Janiero.</p>
  </section>

  <section data-map-lat='-22.9175' data-map-lng='-43.188056' >
    <h1>
      <span class="twa twa-3x twa-police-car"></span>
      <span class="twa twa-3x twa-closed-lock-with-key"></span>
    </h1>
    <hr>
    <h3>Thursday 13 November 2am</h3>
    <p>Phillip John Smith is caught by Federal Police at a hostel in Santa
      Teresa, Brazil.</p>
  </section>

  <section>
    <p>This is a remix of an original interactive by <%= link_to "Newstalk ZB", 'http://www.newstalkzb.co.nz/' %>.</p>
    <hr>
    <p>Slides by <%= link_to 'Cameron Prebble', 'https://twitter.com/cameron_prebble' %>.</p>
    <p>Fork this project on Github <span class="fa fa-github"></span>.</p>
  </section>

</article>

<a href="#" class='slide-left'><span class="fa fa-chevron-left"></span></a>
<a href="#" class='slide-right'><span class="fa fa-chevron-right"></span></a>
